@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --scrollColor: #d6dee1;
  --scrollHoverColor: #a8bbbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(240, 240, 240);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.one-side-container {
  width: 100%;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .one-side-container {
    width: calc(50% + 320px); /* 640px / 2 */
    margin-left: calc(50% - 320px);
  }
}

@media (min-width: 768px) {
  .one-side-container {
    width: calc(50% + 384px); /* 768px / 2 */
    margin-left: calc(50% - 384px);
  }
}

@media (min-width: 1024px) {
  .one-side-container {
    width: calc(50% + 512px); /* 1024px / 2 */
    margin-left: calc(50% - 512px);
  }
}

@media (min-width: 1280px) {
  .one-side-container {
    width: calc(50% + 640px); /* 1280px / 2 */
    margin-left: calc(50% - 640px);
  }
}

@media (min-width: 1536px) {
  .one-side-container {
    width: calc(50% + 768px); /* 1536px / 2 */
    margin-left: calc(50% - 768px);
  }
}

/* Swiper */
.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
  box-shadow: none;
}

.swiper-pagination-bullet-active {
  color: black;
}

::-webkit-scrollbar {
  width: 20px;
  height: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollColor);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollHoverColor);
}
