@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: rgb(240, 240, 240);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.onside-container {
  width: 100%; 
  padding-left: 1rem;
  @media (min-width: 640px) {
    width: calc(50% + calc(640 / 2));
    margin-left: calc(50% - calc(640 / 2));
  }
  @media (min-width: 768px) {
    width: calc(50% + calc(768px / 2));
    margin-left: calc(50% - calc(768px / 2));
  }
  @media (min-width: 1024px) {
    width: calc(50% + calc(1024px / 2));
    margin-left: calc(50% - calc(1024px / 2));
  }
  @media (min-width: 1280) {
    width: calc(50% + calc(1280 / 2));
    margin-left: calc(50% - calc(1280 / 2));
  }
  @media (min-width: 1536) {
    width: calc(50% + calc(1536 / 2));
    margin-left: calc(50% - calc(1536 / 2));
  }
}